<div class="modal fade" id="ModalFotoupload" tabindex="-1" role="dialog" aria-labelledby="ModalUploadFoto" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen-xl-down modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Fotoupload</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Schliessen"></button>
            </div>
            <div class="modal-body">
                <div>
                    <p class="mt-0 small"><strong>Bitte beachte ...</strong>
                        <br>
                        - die maximal mögliche Dateigrösse für Bilduploads von <strong>{{ (maxImageFileSize/1000000)|round(1, 'floor') }} MB</strong>.
                        <br>
                        - und die maximale Bildauflösung von <strong>{{ maxImageWidth }}x{{ maxImageWidth }} Pixeln</strong>.
                    </p>
                    <p class="small">Du kannst die Auflösung/Kompression deine Bilder mit der App deiner Wahl verkleinern oder einen kostenlosen Online-Dienst nutzen wie z.B. <a href="https://imageresizer.com/bulk-resize" target="_blank">Image Resizer</a>.</p>
                </div>
                {{ objEventBlogImageUploadForm|raw }}
            </div>
        </div>
    </div>
</div>
<script{{ attrs().setIfExists('nonce', csp_nonce('script-src')) }}>
    // Do not send the form twice
    document.querySelector('#ModalFotoupload form').addEventListener('submit', (e) => {
        e.target.querySelector('#ctrl_submitImageUploadFormBtn').disabled = true;
    });
</script>
